@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";


@theme{
  --color-card:#f27a1a;
  --color-gray:#2f2f2f;
  --color-lgray:#ecece9
}

html, body{
  font-family: 'Inter', sans-serif;
  overflow-x:hidden;
}

body{
  position: relative;
}


.main{
  background:url('./assets/image 4.png') center no-repeat;
  background-size: cover;
  height: 50vh;
}

.loan{
  background: url('./assets/image 19.svg') no-repeat;
  height: 55vh;
}

@media screen and (max-width: 768px) {
  .loan{
    background: url('./assets/image 19.svg') no-repeat;
    background-position: -300px center;
    background-size: 900px;
    height: 30vh;
  }
  
}

.house{
  opacity: 0;
  transform: translateY(-2%);
  transition: all 0.5s ease-in-out;
}

.house:hover{
  opacity: 1;
  transform: translateX(0);
  backdrop-filter: blur(10px);
}

.montage {
  background: url('./assets/Group.svg') center no-repeat;
}